.App {
    font-family: sans-serif;
    /* text-align: center; */
  }
*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #d3d3d3;
}
.header__link{      
    display: flex;
    gap: 1rem;
}
.header__link a{
    text-decoration: none;
    color: black;
}
.header button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bolder;
    border: none;
}
.carList{
    width: auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-column: repeat(auto-fit, minmax(19rem, 3fr)); */
    gap: .5rem;
}


